.config-generator-wrapper {
    transition: opacity 0.5s ease;

}

.input-desc {
    font-size: 9pt;
    display: block;
    color: $secondary;
    margin-top: 0.25rem;
}

.config-generator-col-form {
    input.form-check-input {
        margin-top: 0.75rem;
    }
}

// Dark mode styles
body.dark {
    .dashicon {
        filter: invert(1);
    }
}