nav.docs-links {
  overflow-x: hidden;
  position: relative;
}

.code-title {
  display: inline-block !important;
  font-family: $font-family-monospace;
  font-size: $font-size-sm !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;

  &::before {
    content: "↳ ";
    // font-family: $font-family-base;
  }
}
