.generator-wrapper {
    transition: opacity 0.5s ease;
}

.capitalize-placeholder::placeholder {
    text-transform: capitalize;
}

.input-desc {
    font-size: 9pt;
    display: block;
    color: $secondary;
    margin-top: 0.25rem;
}

.generator-col-form {
    input.form-check-input {
        margin-top: 0.75rem;
    }
}

.generator-tr-expand-button {
    border-radius: 99;
    border: 1px solid var(--bs-border-color);
    
    .bi::before {
        transition: transform 150ms linear;
    }

    &.open .bi::before {
        transform: rotate(90deg);
    }
}

// Dark mode styles
body.dark {
    .dashicon {
        filter: invert(1);
    }
}

.upload-file-area {
    border: 2px dashed var(--bs-border-color);
    border-radius: 16px;
    padding: 1rem;
    text-align: center;
    color: var(--bs-tertiary-color);

    .hidden-input {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
    }

    &:has(input[drop-active]) {
        border-color: $primary;
        color: $primary;
        background-color: rgba($primary, 0.2);
    }
}