.ofco-title-logo {
  width: 55px;
  height: 55px;
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: sub;
}

.title-logo {
  max-width: 400px;
}

.dark .ofco-title-logo,
.dark .title-logo {
  filter: invert(1);
}
