{{ define "main" }}
<section class="section container-fluid mt-1 pb-3 title-outrun-bg">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center mb-4">
      <!-- <a href="https://openfunctioncomputers.com">
        <img class="ofco-title-logo" src="./images/ofco.png">
      </a> -->
      <h1 class="mt-4"> <img class="title-logo" src="./images/rebrand/Rad Logo 1 OF-TOP.png"></h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href='{{ "docs/getting-started/installation/" | relURL }}'
        role="button">Get
        started</a>
      <p class="meta">
        Open-source MIT Licensed.
        <a target="_blank" href="https://github.com/open-function-computers-llc/rad-theme-engine">
          GitHub <i class="bi bi-arrow-up-right-square"></i>
        </a>
      </p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center my-5">
      <div class="col-lg-5">
        <h2 class="h4">Inspired by Laravel</h2>
        <p>Trying to bring the MVC and configuration patterns from the best full stack web framework to the WordPress
          ecosystem.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Handlebars Included</h2>
        <p>RAD Theme Engine includes <a href="https://github.com/salesforce/handlebars-php">handlebars-php</a> out of
          the box, and the theme configuration file makes adding custom helpers easy.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">All The Options</h2>
        <p>Manage all your custom post types, ACF option pages, menus, handlebars helpers and more from a single array
          in your config.php file.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Convenience First</h2>
        <p>Essential WordPress functions now only a few keystrokes away, with added parameters for more concise and
          readable code.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Powered by Composer</h2>
        <p>No child theme necessary. Run a few commands directly from your themes folder and start building your new
          theme in minutes.</p>
      </div>
    </div>
  </div>
</section>
<section class="section section-alternate">
  <div class="container content-block">
    <h2>MVC Meets WordPress</h2>
    <p class="content-block-subtitle">RAD Theme Engine uses handlebars-php under the hood to bring Model-View-Controller
      (MVC) design patterns to WordPress, similar to frameworks like Laravel and Vue. </p>
    <div class="content-block-compare">

      <div>
        <h4>With RAD Theme Engine</h4>
        <span class="code-heading">index.php</span>
        <pre style="margin: 0;"><code class="language-php hljs">echo site()->render('my-hero',[
  'title' => 'My Cool Site',
  'subtitle' => 'Welcome to my website!',
  'posts' => site()->getDefaultPosts(['title','url']),
  'background_image' => site()->getAssetURL('hero-bg.jpg')
]);</code></pre>

        <span class="code-heading">tpl/my-hero.tpl</span>
        <pre style="margin: 0;"><code class="language-html hljs">&lt;div class="hero" style="background: url(&lcub;{background_image}&rcub;)">
  &lt;h1>&lcub;{title}&rcub;&lt;/h1>
  &lt;p class="subtitle">
    &lcub;{subtitle}&rcub;
  &lt;/p>
  &lt;ul class="posts">
    &lcub;{#each posts}&rcub;
    &lt;li>
      &lt;a href="&lcub;{url}&rcub;">&lcub;{title}&rcub;&lt;/a>
    &lt;/li>
    &lcub;{/each}&rcub;
  &lt;/ul>
&lt;/div></code></pre>
      </div>
      <div>
        <h4>Without RAD Theme Engine</h4>
        <span class="code-heading">index.php</span>
        <pre style="margin: 0;"><code class="language-html hljs"><?php
  $hero_title = 'My Cool Site';
  $hero_subtitle = 'Welcome to my website!';

  $hero_bg_file = 'hero-bg.jpg';
  $hero_bg_url;
  if (file_exists(get_template_directory()."/assets/$hero_bg_file")) {
    $hero_bg_url = get_template_directory_uri()."/assets/$hero_bg_file";
  }
?>

&lt;div class="hero" style="background: url(<?= $hero_bg_url ?>)">
  &lt;h1><?= $hero_title ?>&lt;/h1>
  &lt;p class="subtitle">
    <?= $hero_subtitle ?>
  &lt;/p>
  &lt;ul class="posts">
<?php if ( have_posts() ) : while ( have_posts() ) : the_post(); ?>
&lt;li>
  &lt;a href="<?= get_the_title() ?>">
    <?= get_permalink(get_the_ID()) ?>
  &lt;/a>
&lt;/li>
<?php endwhile; else : ?>
&lt;p><?php esc_html_e( 'Sorry, no posts matched your criteria.' ); ?>&lt;/p>
<?php endif; ?>
  &lt;/ul>
&lt;/div>
</code></pre>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container content-block">
    <h2>Powerful Customization</h2>
    <p class="content-block-subtitle">Creating custom post types, options pages, and menu locations has never been
      easier thanks to RAD Theme Engine' centralized configuration system.</p>
    <div class="content-block-compare screenshot-overlay">
      <div>
        <span class="code-heading">config.php</span>
        <pre style="margin: 0;"><code class="language-php hljs">...

"custom-post-types" => [
  [
    "slug" => 'shirts',
    "icon" => 'dashicons-cart',
    "taxonomies" => ['color'],
    "options" => [
      "has_archive" => 'shirts',
      "show_in_nav_menus" => true,
      "supports" => ['title', 'editor', 'thumbnail'],
      "has_archive" => true,
      "rewrite" => [
        'slug' => 'shirts',
        'with_front' => true,
        'pages' => true,
        'feeds' => true,
      ],
      "labels" => [
        'name' => _x('Shirts', 'Post Type General Name', 'text_domain'),
        'singular_name' => _x('Shirt', 'Post Type Singular Name', 'text_domain'),
      ]
    ]
  ],
],

...</code></pre>
        <span class="code-caption">Creating a custom post type</span>
      </div>
      <div class="screenshot">
        <img src="./images/home-post-types.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="section section-alternate">
  <div class="container content-block">
    <h2>Flexible APIs</h2>
    <p class="content-block-subtitle">RAD Theme Engine's convenient querying functions makes fetching posts easy, no
      matter what kind of data you're trying to grab. Get Advanced Custom Fields, taxonomies, meta fields, thumbnails,
      urls, and more from a single function.</p>
    <div class="content-block-compare align-items-center">
      <div class="arrow" style="top: -1.5rem;">
        <img src="./images/icons/home-grid-arrow.png" alt="">
      </div>
      <div>
        <pre style="margin: 0;"><code class="language-php hljs">$posts = site()->getPosts([
    "type" => "vehicles",
    "taxonomy.country" => "france,italy"
], [
    "title",
    "acf.miles",
    "taxonomy.country.name"
]);</code></pre>
        <span class="code-caption">Get posts of type 'vehicles' that have the term 'france' or 'italy' as their country
          taxonomy, only returning the post title, number of miles, and country name(s).</span>
      </div>
      <div>
        <pre style="margin: 0;"><code class="language-php hljs">[
  [
    "title" => "2010 Ferrari 458 Italia",
    "miles" => 13802,
    "country" => [
      [
        "name" => "Italy"
      ]
    ]
  ],
  [
    "title" => "2019 Renault Alpine A110 Légende GT",
    "miles" => 3211,
    "country" => [
      [
        "name" => "France"
      ]
    ]
  ],
  ...
]</code></pre>
      </div>
    </div>
</section>

<section class="section">
  <div class="container">
    <div class="row gap-4 align-items-center">


      <div class="col">
        <img src="/images/rebrand/Remove-all-distractions.png" class="invert-me" style="height: 30px;">
      </div>
      <div class="col text-end">
        <a class="btn btn-primary btn-lg px-4 mb-2 col" href='{{ "docs/getting-started/installation/" | relURL }}'
          role="button">
          Get started
        </a>
      </div>
    </div>
  </div>
</section>

{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}