{{ define "head/script-header" }}
<script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
</script>
{{ end }}

{{ define "main" }}


<div class="row justify-content-center mt-3 mb-5">
    <div id="" class="col-12">
        <h1 class="d-flex align-items-center gap-2">RAD Config Generator <span
                class="badge text-bg-primary fs-6 d-inline-block ">New!</span></h1>

        <p style="max-width: 36rem">Quickly generate a <code>config.php</code> for your next rad-theme-engine project!
            Just enter your project requirements and we'll take care of the rest. </p>

        <hr class="d-block my-4 border-top">

        <div id="v-config-generator">

            {{ partial "config-generator/custom-post-type-modal.html" }}

            <form class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-3 col">
                            <label for="excerpt-length" class="form-label">Excerpt Length</label>
                            <div class="input-group">
                                <input v-model="excerpt_length" type="number" class="form-control" id="excerpt-length">
                                <span class="input-group-text">characters</span>
                            </div>
                        </div>
                        <div class="mb-3 col">
                            <label for="guest-class" class="form-label">Guest Class</label>
                            <div class="input-group">
                                <span class="input-group-text">.</span>
                                <input type="text" class="form-control font-monospace" v-model="guest_class"
                                    id="guest-class">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <label for="guest-class" class="form-label">Options Pages</label>

                            {{ partial "config-generator/multiple-input.html"
                            (dict "var" "options_pages"
                            "empty" "No options pages defined"
                            "ph1" "options-page-id")
                            }}
                        </div>
                        <div class="col">
                            <label for="guest-class" class="form-label">Menu Locations</label>

                            {{ partial "config-generator/multiple-input.html"
                            (dict "var" "menu_locations"
                            "empty" "Nomenu locations defined"
                            "keyed" true
                            "ph1" "menu-id"
                            "ph2" "Menu Name")
                            }}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <label class="form-label mb-3">Custom Post Types</label>
                            <table class="table table-sm table-striped border m-0">
                                <thead>
                                    <tr>
                                        <th scope="col">Slug</th>
                                        <th scope="col">Options Pages</th>
                                        <th scope="col">Taxonomies</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(custom_type,idx) of cpt" :key="custom_type['slug']">
                                        <td><img height="20" width="20" class="me-1"
                                                :src="`https://raw.githubusercontent.com/WordPress/dashicons/master/svg-min/${custom_type['icon']}.svg`" />
                                            [[ custom_type['slug'] ]]</td>
                                        <td>[[ custom_type['options-pages'].length > 0 ?
                                            custom_type['options-pages'].join(', ') : '-' ]]</td>
                                        <td>[[ custom_type['taxonomies'].length > 0 ?
                                            custom_type['taxonomies'].join(', ') : '-' ]]</td>
                                        <td>
                                            <span role="button" @click="editCPT(idx)">
                                                <i class="bi bi-pencil-fill"></i>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr v-if="cpt.length == 0">
                                        <td colspan="4" class="text-muted text-center p-3">None</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button type="button" @click="createCPT()"
                                class="btn btn-primary w-100 rounded-0"><i class="bi bi-plus-lg me-2"></i>Add</button>
                        </div>
                    </div>
                </div>
                <div class="mb-3 col-4">
                    <label class="form-label">Enable</label>
                    <div v-for="(option,key) in enable" class="form-check">
                        <input type="checkbox" v-model="enable[key]" class="form-check-input"
                            :id="`enable_check_` + key">
                        <label class="form-check-label" :for="`enable_check_` + key">[[ key ]]</label>
                    </div>

                    <label class="form-label mt-4">Disable</label>
                    <div v-for="(option,key) in disable" class="form-check">
                        <input type="checkbox" v-model="disable[key]" class="form-check-input"
                            :id="`disable_check_` + key">
                        <label class="form-check-label" :for="`disable_check_` + key">[[ key ]]</label>
                    </div>
                </div>



            </form>
        </div>

    </div>
</div>

<script type="module" onload>
    import { createApp, ref } from 'vue';

    // setTimeout(() => {
    //     const cptModal = new bootstrap.Modal('#cpt_modal', {})
    //     cptModal.show();
    // }, 500);

    var cptModal;

    let vueApp = createApp({
        delimiters: ['[[', ']]'],
        data() {
            return {
                excerpt_length: 100,
                guest_class: "guest",
                cpt: [],
                cpt_i: null,
                enable: {
                    "post-thumbnails": false,
                    "menus": false,
                    "styleselect": false,
                },
                disable: {
                    "editor": false,
                    "customizer": false,
                    "gutenberg": false,
                },
                options_pages: [],
                options_pages_field: "",
                menu_locations: { "main-nav": "Main Nav" },
                menu_locations_field: ["", ""],
                dashicons: [],
            }
        },
        async mounted() {
            // setTimeout(() => {
            //     this.createCPT()
            // }, 500);
            // Fetch list of dashicons
            let request = await fetch("https://raw.githubusercontent.com/WordPress/dashicons/master/codepoints.json");
            let json = await request.text();
            this.dashicons = Object.keys(JSON.parse(json))
        },
        methods: {
            slugify(event) {
                event.target.value = event.target.value.replace(" ", "-")
            },
            editCPT(index) {
                this.cpt_i = index;
                // Show the modal
                cptModal.show()
            },
            createCPT() {
                cptModal = new bootstrap.Modal('#cpt_modal', {})

                this.cpt.push({
                    "slug": "post-type-" + (this.cpt.length + 1),
                    "icon": this.dashicons.length > 0 ? this.dashicons[Math.floor(Math.random()*this.dashicons.length)] : "admin-page",
                    "options-pages": [],
                    "taxonomies": [],
                    "disable_yoast": false,
                    "options": {},
                })

                this.editCPT(this.cpt.length - 1)
            }
        }
    }).mount('#v-config-generator')
</script>

{{ end }}