{{ define "head/script-header" }}
<script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
</script>
{{ end }}

{{ define "main" }}


<div class="row justify-content-center mt-3 mb-5">
    <div id="" class="col-12">
        <h1 class="d-flex align-items-center gap-2">RAD Config Generator <span
                class="badge text-bg-primary fs-6 d-inline-block ">New!</span></h1>

        <p style="max-width: 36rem">Quickly generate a <code>config.php</code> for your next rad-theme-engine project!
            Just enter your project requirements and we'll take care of the rest. </p>

        <hr class="d-block my-4 border-top">

        <div id="v-config-generator">

            {{ partial "config-generator/custom-post-type-modal.html" }}

            <form class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-3 col">
                            <label for="excerpt-length" class="form-label">Excerpt Length</label>
                            <div class="input-group">
                                <input v-model="excerpt_length" type="number" class="form-control" id="excerpt-length">
                                <span class="input-group-text">characters</span>
                            </div>
                        </div>
                        <div class="mb-3 col">
                            <label for="guest-class" class="form-label">Guest Class</label>
                            <div class="input-group">
                                <span class="input-group-text">.</span>
                                <input type="text" class="form-control font-monospace" v-model="guest_class"
                                    id="guest-class">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <label for="guest-class" class="form-label">Options Pages</label>

                            {{ partial "config-generator/multiple-input.html"
                            (dict "var" "options_pages"
                            "empty" "No options pages defined"
                            "ph1" "options-page-id")
                            }}
                        </div>
                        <div class="col">
                            <label for="guest-class" class="form-label">Menu Locations</label>

                            {{ partial "config-generator/multiple-input.html"
                            (dict "var" "menu_locations"
                            "empty" "Nomenu locations defined"
                            "keyed" true
                            "ph1" "menu-id"
                            "ph2" "Menu Name")
                            }}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <label class="form-label mb-2">Custom Post Types</label>
                            <table class="table table-sm table-striped border m-0">
                                <thead>
                                    <tr>
                                        <th scope="col">Slug</th>
                                        <th scope="col">Icon</th>
                                        <th scope="col">Option Pages</th>
                                        <th scope="col">Taxonomies</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mark</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                        <td>
                                            <span role="button">
                                                <i class="bi bi-pencil-fill"></i>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button type="button" @click="createCPT()" class="btn btn-outline-primary w-100 mt-2">New Post Type</button>
                        </div>
                    </div>
                </div>
                <div class="mb-3 col-4">
                    <label class="form-label">Enable</label>
                    <div v-for="(option,key) in enable" class="form-check">
                        <input type="checkbox" v-model="enable[key]" class="form-check-input"
                            :id="`enable_check_` + key">
                        <label class="form-check-label" :for="`enable_check_` + key">[[ key ]]</label>
                    </div>

                    <label class="form-label mt-4">Disable</label>
                    <div v-for="(option,key) in disable" class="form-check">
                        <input type="checkbox" v-model="disable[key]" class="form-check-input"
                            :id="`disable_check_` + key">
                        <label class="form-check-label" :for="`disable_check_` + key">[[ key ]]</label>
                    </div>
                </div>



            </form>
        </div>

    </div>
</div>

<script type="module" onload>
    import { createApp, ref } from 'vue';

    // setTimeout(() => {
    //     const cptModal = new bootstrap.Modal('#cpt_modal', {})
    //     cptModal.show();
    // }, 500);

    let vueApp = createApp({
        delimiters: ['[[', ']]'],
        data() {
            return {
                excerpt_length: 100,
                guest_class: "guest",
                cpt: [],
                cpt_i: null,
                enable: {
                    "post-thumbnails": false,
                    "menus": false,
                    "styleselect": false,
                },
                disable: {
                    "editor": false,
                    "customizer": false,
                    "gutenberg": false,
                },
                options_pages: [],
                options_pages_field: "",
                menu_locations: { "main-nav": "Main Nav" },
                menu_locations_field: ["", ""],
                
            }
        },
        mounted() {
            setTimeout(() => {
                this.createCPT()
            }, 500);
            
        },
        methods: {
            createCPT() {
                const cptModal = new bootstrap.Modal('#cpt_modal', {})

                this.cpt.push({
                    "slug": "",
                    "icon": "",
                    "options-pages": [],
                    "taxonomies": [],
                    "disable": [],
                    "options": {},
                })

                this.cpt_i = this.cpt.length - 1;

                console.log(this.cpt, this.cpt_i);

                cptModal.show()
            }
        }
    }).mount('#v-config-generator')
</script>

{{ end }}